/* social media */
.social .socBox {
  padding: 10px 20px;
  margin-bottom: 10px;
  color: #fff;
}

.social .socBox i {
  margin-right: 20px;
}

.social .socBox span {
  font-weight: 500;
}

.social .socBox:nth-child(1) {
  background-color: #344a79;
}

.social .socBox:nth-child(2) {
  background-color: #8a2430;
}

.social .socBox:nth-child(3) {
  background-color: #2e77a5;
}

.social .socBox:nth-child(4) {
  background-color: #8c2e77;
}

.social .socBox:nth-child(5) {
  background-color: #b22020;
}

/* subscribe */
.subscribe {
  border: 1px solid #BD902D;
  padding: 20px;
  text-align: center;
}

.subscribe h1 {
  text-align: left;
  font-size: 20px;
}

.subscribe input {
  width: 100%;
  padding: 10px;
}

.category {
  font-size: 12px;
  font-weight: 800;
  text-transform: uppercase;
  padding: 5px 10px;
  letter-spacing: 2px;
  background-color: purple;
}

.catgorys .category1 {
  position: relative;
  margin-bottom: 20px;
  padding: 10px;
}

.category1 {
  position: absolute;
  top: 0;
  left: 0;
  border-left: 5px solid #198ec0;
  width: auto;
  display: block;
  background: linear-gradient(to right, #198ec0 50%, #f6f6f6 50%);
  background-size: 200% 100%;
  background-position: right bottom;
  transition: all 0.5s ease-out;
  cursor: pointer;
}

.category1 span {
  text-transform: capitalize;
  letter-spacing: 0;
}

.category1:hover {
  color: #fff;
  background-position: left bottom;
}

.category1 span:hover {
  color: #fff;
}

/* breaking */
/* .news-container {
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  font-family: "Roboto", sans-serif;
  box-shadow: 0 4px 8px -4px rgba(0, 0, 0, 0.3);
}

.news-container .title {
  position: absolute;
  background: #df2020;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0 24px;
  color: white;
  font-weight: bold;
  z-index: 200;
  font-size: 25px;
}

.news-container ul {
  display: flex;
  list-style: none;
  margin: 0;
  animation: scroll 25s infinite linear;
}

.news-container ul li {
  white-space: nowrap;
  padding: 10px 24px;
  color: #E1251A;
  position: relative;
  font-size: 22px;
}

.news-container ul li::after {
  content: "";
  width: 1px;
  height: 100%;
  background: #b8b8b8;
  position: absolute;
  top: 0;
  right: 0;
}

.news-container ul li:last-child::after {
  display: none;
}

@keyframes scroll {
  from {
    transform: translateX(100%);
  }

  to {
    transform: translateX(-1083px);
  }
} */

@media screen and (max-width: 780px) {
  /* .news-container {
    overflow-x: hidden;
  } */

  /* .news-container .title {
    font-size: 12px;
    padding: 0 2px;
    width: 60px;
  } */

  /* .news-container ul li {
    font-size: 14px;
  } */
}

.ticker-container {
  overflow: hidden;
}

marquee {
  display: block;
  white-space: nowrap;
  padding: 5px;
  font-size: 20px;
  color: #333;
}

@media (max-width: 768px) {
  marquee {
    font-size: 16px;
  }
}