.lawsuit_body{
    display: grid;
    grid-template-columns: 1fr 3fr;
}

.lawsuit_filed{
    /* background-color: rgba(255, 153, 0, 0.3); */
    margin: 50px 50px;
}
/* .lawsuit_filed label {
    margin-bottom: 40px;
} */

.lawsuit_blog{
    margin: 50px 50px;
}

/* social media */

.social .socBox {
    padding: 10px 20px;
    margin-bottom: 10px;
    color: #fff;
  }
  .social .socBox i {
    margin-right: 20px;
  }
  .social .socBox span {
    font-weight: 500;
  }
  .social .socBox:nth-child(1) {
    background-color: #3b5998;
  }
  .social .socBox:nth-child(2) {
    background-color: #bd081c;
  }
  .social .socBox:nth-child(3) {
    background-color: #1da1f2;
  }
  .social .socBox:nth-child(4) {
    background-color: #c32aa3;
  }
  .social .socBox:nth-child(5) {
    background-color: #ff0000;
  }

  /* subscribe */
  .subscribe {
    border: 1px solid #BD902D;
    padding: 20px;
    text-align: center;
  }
  .subscribe h1 {
    text-align: left;
    font-size: 20px;
  }
  .subscribe input {
    width: 100%;
    padding: 10px;
  }
  .subscribe button {
    width: 100%;
    padding: 10px;
    margin-top: 20px;
    background-color: #BD902D;
    color: #fff;
    font-weight: 600;
    border: none;
  }

  /* catgorys */
  .banner {
    margin: 40px 0;
  }
  .category {
    font-size: 12px;
    font-weight: 500;
    text-transform: uppercase;
    color: #fff;
    padding: 5px 10px;
    letter-spacing: 2px;
    background-color: purple;
  }
  .catgorys .category1 {
    position: relative;
    margin-bottom: 20px;
    padding: 10px;
  }

  .category1 {
    position: absolute;
    top: 0;
    left: 0;
    border-left: 5px solid #BD902D;
    width: auto;
    display: block;
    background: linear-gradient(to right, #BD902D 50%, rgb(49, 47, 47) 50%);
    background-size: 200% 100%;
    background-position: right bottom;
    transition: all 0.5s ease-out;
    cursor: pointer;
  }
  .category1 span {
    color: #fff;
    text-transform: capitalize;
    letter-spacing: 0;
  }
  .category1:hover {
    background-position: left bottom;
  }
  .category1 span:hover {
    color: #fff;
  }
@media screen and (max-width:1100px) {
    .lawsuit_blog{
        /* grid-template-columns: repeat(2, 1fr); */
    }
    .lawsuit_body{
display: block;
    }
}