.navigation__item {
    position: relative;
  }
  
  .dropdown_nav {
    display: block;
    position: fixed;
    top: 100%;
    left: 0;
    background-color: #cf2e2e;
    padding: 0;
    margin: 0;
    border: 1px solid #cf2e2e;
  } 
  
  .dropdown__item {
    display: block;
    padding: 8px 12px;
    color: #fff;
    text-decoration: none;
    list-style: none;
  }
  
  .navigation__item:hover .dropdown {
    display: block;
  }